@page
@model IndexModel
@{
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo ao CineMaxx</h1>
    <div class="row mb-3 d-grid">
        <a class='bnt bntalert-primary bnt-sm' href="/Usuario/Create" role="button" >Clique aqui para se Cadastrar</a>
    </div>
</div>
