@page
@model IndexModel
@{
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo ao CineMaxx</h1>
    <a class='btn btn-primary btn-sm' href="/Usuario/Create" role="button" >Clique aqui para se Cadastrar</a>
</div>
