@page
@model Cinemaxx.Pages.Programacao.IndexModel
@{
}
<header>
	<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
		<div class="container">
			<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
				<ul class="navbar-nav flex-grow-1">
					<a class='btn btn-primary btn-sm' href="/" role="button">Faça seu Login</a>
				</ul>
			</div>
		</div>
	</nav>
</header>

<br />
<h2>Programação</h2>

<div class="row">
    <div class="coluna">
        <img src="https://www.themoviedb.org/t/p/w220_and_h330_face/8qb8cLDBAWdahrtixN2mQdI6e52.jpg" alt="Barbie: Mermaid power" style="width:50%">
    </div>
    <br />
    <div class="coluna">
        <img src="https://www.themoviedb.org/t/p/w220_and_h330_face/8aIvm8OaJISOpVTt7rMIh7X35G5.jpg" alt="O rei leão"style="width:50%">
    </div>
    <br />
    <div class="coluna">
        <img src="https://www.themoviedb.org/t/p/w220_and_h330_face/725WE0Qb1BbUF7aGvjiQqzzffpg.jpg" alt="Red, crescer é uma féra" style="width:50%">
    </div>
    <br />
    <div class="coluna">
        <img src="https://www.themoviedb.org/t/p/w220_and_h330_face/fVzXp3NwovUlLe7fvoRynCmBPNc.jpg" alt="Filme Homem aranha" style="width:50%">
    </div>
    <br />
    <div class="coluna">
        <img src="https://www.themoviedb.org/t/p/w220_and_h330_face/2QlRq0MEx8IEODKNbGZyu3Sz5UV.jpg" alt="Filme Avatar" style="width:50%">
    </div>
</div>

<style>
.coluna{
  float: left;
  width: 33.33%;
}
after {
  content: "";
  clear: both;
  display: table;
}
</style>
