@page
@model Cinemaxx.Pages.Relatorios.IndexModel
@{
}

<br>
<h2> Relatorios </h2>
<div class="row mb-3">
	<p>
	<div class="offset-sm-4 col-sm-4 d-grid">
		<button type="submit" class="btn btn-primary">Relatorio de Vendas</button> 
	</div>
	</p>

	<p>
	<div class="offset-sm-4 col-sm-4 d-grid">
		<button type="submit" class="btn btn-primary">Relatorio de Ingressos</button>
	</div>
	</p>

	<p>
	<div class="offset-sm-4 col-sm-4 d-grid">
		<button type="submit" class="btn btn-primary">Relatorio de Quantidade de Meia Entrada</button>
	</div>
	</p>

	<p>
	<div class="offset-sm-4 col-sm-4 d-grid">
		<button type="submit" class="btn btn-primary">Relatorio de Quantidade de PNE</button>
	</div>
	</p>

	<p>
	<div class="offset-sm-4 col-sm-4 d-grid">
		<button type="submit" class="btn btn-primary">Relatorio de Filmes</button>
	</div>
	</p>

	<p>
	<div class="offset-sm-4 col-sm-4 d-grid">
		<button type="submit" class="btn btn-primary">Relatorio de Salas</button>
	</div>
	</p>

</div>